# Python virtual environments
.venv/
venv/
env/

# Python cache/artifacts
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints/

# OS/editor files
.DS_Store
Thumbs.db
.vscode/
# Ignore large model file
models/best_rf_model.pkl
